
<div class="outerwrapper">
<%= render 'welcome/header' %>
<div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
  <div class="container">
   <div class="main">
    
    <div class="static">
<h1>Редактирование</h1>

<%= render 'form' %>

  </div>
  </div>

<%= link_to 'Назад', seos_path %>
</div>
</div>
<%= render 'welcome/footer' %>

