<div class="outerwrapper">
  <!-- =header -->
  
  <%= render 'header' %>
  <!-- =/header -->
  <!-- =floatcontacts -->
  <div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+375 (29)</span> 111 11 11</a>
      <p class="skype">skype: <a href="skype:RedStudent" class="skype_link">RedStudent</a></p>
    </div>    
  </div>


  <!-- =/floatcontacts -->
  <div class="main">
    <div class="container">
      <div class="news">
        <h1>АКЦИИ</h1>
        <div class="intro">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, ased diam nonumy eirmod tempor invidunt ut labore et adolore magna aliquyam erat, 
sed diam voluptua. At avero eos et accusam et justo duo dolores et ea rebum. aStet clita kasd gubergren, no sea takimata sanctus est aLorem ipsum dolor sit amet.</p>
        </div>
        <div class="list row">
       
          <article>
            <div class="col-md-4 col-sm-5 col-xs-12">
             КАРТИНКА
            </div>
            <div class="description col-md-8 col-sm-7 col-xs-12">
              <h3><a href="#">АКЦИЯ</a></h3>
              <div class="text">
              <p>КРАТКОЕ ОПИСАНИЕ</p>
                <div class="moretext">
                  <p>ПОЛНОЕ ОПИСАНИЕ<p/>
              </div>
              </div>
              <div class="meta">
                <time datetime="22.10.2015">22.22.2012</time>
                <a href="#" class="readmore">Читать полностью</a>
              </div>
            </div>
          </article>

            <article>
            <div class="col-md-4 col-sm-5 col-xs-12">
             КАРТИНКА
            </div>
            <div class="description col-md-8 col-sm-7 col-xs-12">
              <h3><a href="#">АКЦИЯ</a></h3>
              <div class="text">
              <p>КРАТКОЕ ОПИСАНИЕ</p>
                <div class="moretext">
                  <p>ПОЛНОЕ ОПИСАНИЕ<p/>
              </div>
              </div>
              <div class="meta">
                <time datetime="22.10.2015">22.22.2012</time>
                <a href="#" class="readmore">Читать полностью</a>
              </div>
            </div>
          </article>
       
         <article>
            <div class="col-md-4 col-sm-5 col-xs-12">
             КАРТИНКА
            </div>
            <div class="description col-md-8 col-sm-7 col-xs-12">
              <h3><a href="#">АКЦИЯ</a></h3>
              <div class="text">
              <p>КРАТКОЕ ОПИСАНИЕ</p>
                <div class="moretext">
                  <p>ПОЛНОЕ ОПИСАНИЕ<p/>
              </div>
              </div>
              <div class="meta">
                <time datetime="22.10.2015">22.22.2012</time>
                <a href="#" class="readmore">Читать полностью</a>
              </div>
            </div>
          </article>
       
         <article>
            <div class="col-md-4 col-sm-5 col-xs-12">
             КАРТИНКА
            </div>
            <div class="description col-md-8 col-sm-7 col-xs-12">
              <h3><a href="#">АКЦИЯ</a></h3>
              <div class="text">
              <p>КРАТКОЕ ОПИСАНИЕ</p>
                <div class="moretext">
                  <p>ПОЛНОЕ ОПИСАНИЕ<p/>
              </div>
              </div>
              <div class="meta">
                <time datetime="22.10.2015">22.22.2012</time>
                <a href="#" class="readmore">Читать полностью</a>
              </div>
            </div>
          </article>
       
       
        </div>
    
<br>

      </div>
    </div>
  </div>
    <!-- InstanceEndEditable -->  

</div>


 <%= render 'footer' %>




 



    





