 <b>Специальность</b>
<div class="row" id='<%= "speciality_#{@speciality_number}" %>'>
  <div class="form-group col-md-5">
   <p>Выберите специализацию</p>
    <select name="user[speciality_ids][]" class="form-control speciality_select">
      <%= options_from_collection_for_select(@specialities, :id, :name) %>
    </select>
  </div>
  <b style="margin-left:15px;">Подспециальность</b>
  <div class="form-group col-md-6">
    <p>  Выберите подспециализацию(зажмите ctrl для выбора несокльких</p>
    <select multiple name="user[subspeciality_ids][]" class="form-control subspeciality_select">
    
      <%= options_from_collection_for_select(@subspecialities, :id, :subspeciality) %>
    </select>
  </div>
</div>
