<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footTitle">Услуги</div>
        <ul class="footNav">
          <li><a href="#">Контрольные работы</a></li>
          <li><a href="#">Дипломные работы</a></li>
          <li><a href="#">Курсовые работы</a></li>
          <li><a href="#">Рефераты</a></li>
          <li><a href="#">Другие работы</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="footTitle">Клиентам</div>
        <ul class="footNav">
          <li><a href="#">Способы оплаты</a></li>
          <li><a href="#">Гарантии</a></li>
          <li><a href="#">Как оформить заказ</a></li>
          <li><a href="#">Наши преимущества</a></li>
          <li><a href="#">Публичная оферта</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="footTitle">О компании</div>
        <ul class="footNav">
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Авторам</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Новости</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="footTitle">Мы принимаем</div>
      </div>
    </div>
  </div>
</footer>
<div class="VabhceNiz">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-3 col-md-3"></div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4 class="text-center">© 2008, RedStudent. Все права защищены</h4>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 LogoDShop">
        <a href="http://dshop24.by/" target="_blank">
          <%= image_tag 'LogoDShop.png' %>
        </a>
      </div>
    </div>
  </div>
</div>
