 <!-- =footer -->
<footer>
  <!-- =menu -->
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <dl>
            <dt>Услуги</dt>
             <% @worktypes.each do |w| %>
                  <% if w.show %>
                   <dd><a href="/worktypes/<%=w.id%>" title=""><%= w.name%></a></dd>
                  <%end%>
                <%end%>
          </dl>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dl>
            <dt>Клиентам</dt>
            <dd><a href="/pay" title="">Способы оплаты</a></dd>
            <dd><a href="/guarantees" title="">Гарантии</a></dd>
            <dd><a href="/steps" title="">Как оформить заказ</a></dd>
            <dd><a href="/advantages" title="">Наши преимущества</a></dd>
            <dd><a href="/offer" title="">Публичная оферта</a></dd>
          </dl>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dl>
            <dt>О компании</dt>
            <dd><a href="/contacts" title="">Контакты</a></dd>
            <dd><a href="/authors" title="">Авторам</a></dd>
            <dd><a href="/feedbacks" title="">Отзывы</a></dd>
            <dd><a href="/news" title="">Новости</a></dd>
            <dd><a href="https://docs.google.com/forms/d/1Hq-4t_jMr22Lb9lMYAlTtHFQHjAot_3BtcMRey1skjg/viewform" target="_blank" title="">Оставить отзыв</a></dd>
          </dl>
        </div>
        <div class="payment-card col-sm-3 col-xs-12">
          <h4>Мы принимаем</h4>
          <div class="row">
            <div class="paypic item col-xs-12"><%= image_tag 'pay_method.png'%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =/menu -->

  <!-- =copyright -->
  <div class="copyright text-center">
    © 2008, RedStudent. Все права защищены
  </div>
  <!-- =/copyright -->
</footer>

<!-- =Modal -->
<div class="modal fade" id="modalorder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><%= image_tag 'close.png'%></button>
      <div class="modal-body center-block">
        <form action="/getprice" method="get" class="form">
          <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" name="type" value="" placeholder="Тип работы" />
            </div>
            <div class="form-group">
              <input type="tel" class="mobile-phone form-control" name="tel" placeholder="Телефон" />
            </div>
            <div class="form-group">
              <input type="submit" class="submit btn btn_red" value="Отправить заявку" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- =/Modal -->
<!-- =/footer -->
