<!-- =footer -->
<footer>
  <!-- =menu -->
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <dl>
            <dt>Услуги</dt>
             <% @worktypes.each do |w| %>
                  <% if w.show %>
                   <dd><a href="/worktypes/<%=w.id%>" title=""><%= w.name%></a></dd>
                  <%end%>
                <%end%>
          </dl>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dl>
            <dt>Клиентам</dt>
            <dd><a href="/pay" title="">Способы оплаты</a></dd>
            <dd><a href="/guarantees" title="">Гарантии</a></dd>
            <dd><a href="/steps" title="">Как оформить заказ</a></dd>
            <dd><a href="/advantages" title="">Наши преимущества</a></dd>
            <dd><a href="/offer" title="">Публичная оферта</a></dd>
          </dl>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dl>
            <dt>О компании</dt>
            <dd><a href="/contacts" title="">Контакты</a></dd>
            <dd><a href="#" title="">Авторам</a></dd>
            <dd><a href="/feedbacks" title="">Отзывы</a></dd>
            <dd><a href="/news" title="">Новости</a></dd>
          </dl>
        </div>
        <div class="payment-card col-sm-3 col-xs-12">
          <h4>Мы принимаем</h4>
          <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12"><img src="http://dummyimage.com/60x30/" alt="placeholder+image"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12"><img src="http://dummyimage.com/60x30/" alt="placeholder+image"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12"><img src="http://dummyimage.com/60x30/" alt="placeholder+image"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12"><img src="http://dummyimage.com/60x30/" alt="placeholder+image"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12"><img src="http://dummyimage.com/60x30/" alt="placeholder+image"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12"><img src="http://dummyimage.com/60x30/" alt="placeholder+image"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =/menu -->

  <!-- =copyright -->
  <div class="copyright text-center">
    © 2008, RedStudent. Все права защищены
  </div>
  <!-- =/copyright -->
</footer>
<!-- =/footer -->
