<nav class="navbar navbar-inverse navbar-fixed-top" id="home-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png' %></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Услуги<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Контрольные работы</a></li>
            <li><a href="#">Дипломные работы</a></li>
            <li><a href="#">Курсовые работы</a></li>
            <li><a href="#">Рефераты</a></li>
            <li><a href="#">Другие работы</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Клиентам<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Гарантии</a></li>
            <li><a href="#">Как оформить заказ</a></li>
            <li><a href="#">Наши преимущества</a></li>
            <li><a href="#">Публичная оферта</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О компании<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Авторам</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Новости</a></li>
          </ul>
        </li>
        <li><a href="#contact">Контакты</a></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to('Кабинет', dashboard_index_path) %>
          </li>
          <li>
            <%= link_to('Выйти', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li class="singInBtn">
            <%= link_to('Войти', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
