<header class="header">
    <div class="container">
      <div class="mainnav pull-left">
        <!-- =nav -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Red<span>Student</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul>
              <li>
                <a href="/service" title="">Услуги</a>
		          <ul>
		            <% @worktypes.each do |w| %>
                  <% if w.show %>
		                <li><a href="/worktypes/<%=w.id%>" title=""><%= w.name%></a></li>
	  	            <%end%>
                <%end%>
                 <li><a href="/service" title="">Другие работы</a></li>
	  	        </ul>
              </li>
              <li>
                <a href="#" title="">Клиентам</a>
                <ul>
                  <li><a href="#" title="">Условия работы</a></li>
                  <li><a href="#" title="">Способы оплаты</a></li>
                  <li><a href="#" title="">Преимущества</a></li>
                  <li><a href="#" title="">Гарантии</a></li>
                  <li><a href="/actions" title="">Акции</a></li>
                  <li><a href="/questions" title="">Вопросы и ответы</a></li>
                </ul>
              </li>
              <li>
                <a href="#" title="">О компании</a> 
                <ul>
                  <li><a href="/feedbacks" title="">Отзывы</a></li>
                  <li><a href="/news" title="">Новости</a></li>
                  <li><a href="#" title="">Вакансии</a></li>
                  <li><a href="#" title="">Партнерам</a></li>
                  <li><a href="#" title="">Авторам</a></li>
                </ul>
              </li>
              <li>
                <a href="#" title="">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- =/nav -->
      </div>

      <!-- =auth -->
      <div class="auth-cost">
        <% if user_signed_in? %>
          <%= link_to('Выйти', destroy_user_session_path, method: :delete, class: "in") %>
        <% else %>
          <%= link_to('Войти', new_user_session_path, class: "in")  %>
        <% end %>
        <a href="#" class="to-cost" data-toggle="modal" data-target="#modalorder">Узнать стоимость</a>
      </div>
      <!-- =/auth -->
    </div>
  </header>
