<div class="outerwrapper">
<%= render 'welcome/header' %>
<div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
  <div class="container">
<h1>Добавить</h1>

<%= render 'form' %>

<%= link_to 'Назад', news_index_path %>
</div>
</div>
<%= render 'welcome/footer'%>