<%= render "dashboard/#{current_user.role.downcase}/header" %>
<h2 class="text-center">Редактирование заказа</h2>
<%= render 'form' %>
<br>
<div style="padding-left : 20px;float:left;">
<%= link_to 'Назад', "javascript:history.back()", class: 'btn btn-default' %>
</div>