<%= render "dashboard/#{current_user.role.downcase}/header" %>
<div class="page-header">
  <h2 class="text-center">Все заказы</h2>
</div>
<br>
<%= render 'orders/table' %>
<%= will_paginate @orders, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
<br>
<%= link_to 'Назад', "javascript:history.back()", class: 'btn btn-default' %>
