<%= render "dashboard/#{current_user.role.downcase}/header" %>
<div class="page-header">
  <h2 class="text-center">Платежи</h2>
</div>
<br>
<%= render 'payments/manage_table' %>
<br>
<%= link_to 'Назад', "javascript:history.back()", class: 'btn btn-default' %>
