<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subspeciality.name %>
</p>

<%= link_to 'Edit', edit_subspeciality_path(@subspeciality) %> |
<%= link_to 'Back', subspecialities_path %>
