<% links = {
	my_orders: ["Мои заказы", dashboard_index_path],
	create_order: ["Создать заказ", dashboard_create_order_path],
	profile: ["Профиль", edit_user_registration_path],
	account: ["Личный счет", show_account_path]
} %>
<ul class="nav nav-tabs ">
  <% links.each do |key, value| %>
    <li role="presentation" class=<%= "active" if key.to_s == active %>>
      <%= link_to value[0], value[1] %>
    </li>
  <% end %>
</ul>
