<p>Здравствуйте <%= @resource.email %>!</p>

<p>Вы запросили ссылку для изменения вашего пароля.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали ссылку для изменения пароля, проигнорируйте это письмо.</p>
